h3{
    font-size: 25px !important;
    border-color: mediumslateblue; 
}

.btn-warning:hover{
    background-color: rgb(101, 127, 184);
}

canvas{
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes example {
    from {box-shadow: 2px 2px 48px rgb(236, 114, 130);}
    to{box-shadow: 2px 2px 48px rgb(85, 35, 223);}
}